body {
    background: #f7f7f7;
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
}
.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 13px;
    line-height: 24px;
    color: #555;
    background: #fff;
}
.invoice-box .logo {
    height: 100px;
    width: 100px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.invoice-title {
    color: #333;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}
.invoice-info {
    margin-bottom: 20px;
}
.invoice-info .title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.invoice-info .value {
    font-size: 15px;
}
.terms {
    border-top: 2px solid #aaa;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: #333;
}
.signature {
    font-family: "Brush Script MT", cursive; /* Fallback to mimic signature */
    font-size: 24px;
    text-align: right;
}
.table thead th {
    border-top: none;
    //border-bottom: 2px solid black;
    color: #333;
    background-color: #f2f2f2;
}
.total-table td {
    border-top: none;
}
.total-table .label {
    text-align: right;
}
// .total-table .value {
//     font-size: 24px;
//     font-weight: bold;
// }
.table{
    font-size: 12px;
}

// .equal-width-address {
//     display: flex;
//     flex-wrap: wrap;
//     width: 50%; 
//   }
  
//   .equal-width-address span {
//     flex: 1 1 auto;
//   }
.equal-width-address {
    padding-right: 38px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    width: 50%; /* Set a specific width for the container */
}

.equal-width-address p {
    flex: 1; /* Equal distribution of width among child elements */
    text-align: left; /* If you want text to be left-aligned within the column */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    width: 100%; /* Set the width to 100% to maintain consistency */
}
  
.equal-width-ship-from-address {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    width: 100%; /* Set a specific width for the container */
}

.equal-width-ship-from-address p {
    width: 100%; /* Set the width to 100% to maintain consistency */
    text-align: left; /* If you want text to be left-aligned within the column */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.shipfrom-address{
    padding-left: 200px;
}

// .billto-address{
//     margin-left: 200px;
// }