<nav class="navbar navbar-expand-lg nav-section">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"> 
        <img
        src="assets/logo/billz_logo.png"
        height="60"
        width="120"
        alt="Logo"
        loading="lazy"
      /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Masters
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/services">Services</a></li>
              <li><a class="dropdown-item" routerLink="/organization">Organization</a></li>
              <li><a class="dropdown-item" routerLink="/tax">Tax</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Main
            </a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" routerLink="/invoice">Invoice</a></li>
              <li><a class="dropdown-item" routerLink="/invoiceList">Invoice List</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/invoice-summary">Invoice Summary</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboards
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/invoice-dashboard">Over All</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="orgDropdown">
        <select class="form-select" aria-label="organization select" [(ngModel)]="selectedOrganization" (change)="onDropdownChange()">
          <option *ngFor="let org of organizations; let i=index" [value]="org.organizationIDName">{{org.organizationIDName}}</option>
        </select>
      </div>
      <div class="logout ms-4">
        <div class="nav-item dropdown logout-dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-lines-fill"></i>
          </a>
          <ul class="dropdown-menu logout-dropdown-menu">
            <li><a class="dropdown-item logout-dropdown-item" >admin</a></li>
            <li><a class="dropdown-item logout-dropdown-item" (click) ="logout()"><span><i class="bi bi-box-arrow-right"></i></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>