.nav-section {
    background-color: rgb(6, 127, 157); 
  }
  
  .nav-section .navbar-brand img {
    margin-top: 5px; 
  }
  
  .nav-section .navbar-nav .nav-link {
    color: white !important; /* Set text color for menu items */
  }
  
  .nav-section .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Set background color on hover */
  }
  
  .nav-section .navbar-nav .dropdown-menu {
    background-color: rgb(6, 127, 157); /* Set background color for dropdown menu */
  }
  
  .nav-section .navbar-nav .dropdown-item {
    color: white !important; /* Set text color for dropdown items */
  }
  
  .nav-section .navbar-nav .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Set background color for dropdown items on hover */
  }
  
  .nav-section .form-select {
    color: white; /* Set text color for select element */
    background-color: rgba(255, 255, 255, 0.1); /* Set background color for select element */
    border-color: white; /* Set border color for select element */
  }
  
  .nav-section .form-select:focus {
    border-color: white; /* Set border color for select element on focus */
    box-shadow: none; /* Remove box shadow on focus */
  }
  .nav-section .form-select option {
    color: white; /* Set text color for dropdown options */
    background-color: rgb(6, 127, 157); /* Set background color for dropdown options */
  }
  

  //logout related
/* CSS for the logout dropdown */
.logout {
    position: relative; /* Set position to relative */
}

/* Adjust dropdown menu position */
.logout .logout-dropdown-menu {
    position: absolute; /* Set position to absolute */
    left: -400%; /* Adjust left position to move the dropdown to the left */
    top: 100%; /* Position the dropdown below the parent element */
    z-index: 1000; /* Ensure the dropdown appears above other elements */
    //background-color: rgba(92, 236, 200, 0.929);
}

// .logout .logout-dropdown-menu .logout-dropdown-item:hover {
//     color: white !important;
//     background-color:  #035f5fea; 
//   }


.logout-dropdown-menu li {
    list-style: none;
    padding-left: 0; /* Remove any left padding */
    padding-top: 0;
    padding-bottom: 0;
}

.logout .logout-dropdown-menu .logout-dropdown-item {
    color:#000; 
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logout .logout-dropdown-menu .logout-dropdown-item:hover {
    color:#fff;
    background-color:  rgb(6, 127, 157); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
}


/*
.logout .dropdown-menu .dropdown-item {
    background-color:  rgb(6, 127, 157);
    color:#000; 
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logout .dropdown-menu .dropdown-item:hover {
    color:#fff;
    background-color:  rgb(6, 127, 157); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
}
*/