.nav-section {
    background-color: rgb(6, 127, 157); /* Set background color */
  }
  
  .nav-section .navbar-brand img {
    margin-top: 5px; /* Adjust logo alignment */
  }
  
  .nav-section .navbar-nav .nav-link {
    color: white !important; /* Set text color for menu items */
  }
  
  .nav-section .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Set background color on hover */
  }
  
  .nav-section .navbar-nav .dropdown-menu {
    background-color: rgb(6, 127, 157); /* Set background color for dropdown menu */
  }
  
  .nav-section .navbar-nav .dropdown-item {
    color: white !important; /* Set text color for dropdown items */
  }
  
  .nav-section .navbar-nav .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Set background color for dropdown items on hover */
  }
  
  .nav-section .form-select {
    color: white; /* Set text color for select element */
    background-color: rgba(255, 255, 255, 0.1); /* Set background color for select element */
    border-color: white; /* Set border color for select element */
  }
  
  .nav-section .form-select:focus {
    border-color: white; /* Set border color for select element on focus */
    box-shadow: none; /* Remove box shadow on focus */
  }
  .nav-section .form-select option {
    color: white; /* Set text color for dropdown options */
    background-color: rgb(6, 127, 157); /* Set background color for dropdown options */
  }
  