@import "~ngx-bootstrap/datepicker/bs-datepicker.css";


* {
    font-family: sans-serif;
}

/* .header-section {
    border-bottom: 1px solid #ccc;
    background-color: lightgrey;
} */

.header-content {
    margin-left: 50px;
    padding-top: 30px;
    font-weight: 200;
    font-family: sans-serif;
    text-transform: uppercase;
}

.header-value {
    letter-spacing: 3px;
    font-size: 15px;
    font-family: sans-serif;
}

/* body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
} */

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

label {
    font-size: 15px;
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 15px !important;
    /* font-weight: 300 */
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #3292a6;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    /* text-transform: uppercase; */
    font-size: 15px !important;
    /* font-weight: 400; */
    /* height: 43px; */
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.remove-button:hover {
    color: #fff !important;
    background-color: black !important;
    ;
}

/* #btnSave {
    background-color: #008080;
    color: white;
} */

table {
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none !important;
    /* padding: 14px 25px; */
}

a:link {
    text-align: center;
}

a:hover {
    //  background-color: rgb(20, 3, 134);
    //  color: white
}
a { 
    cursor: pointer;
 }

.serviceSearch {
    padding: 15px;
}
.serviceSearch {
    width: 150px;
}

.taxSearch {
    padding-top: 15px;
    width: 150px;
}
.taxHeader{
    width: 150px;
}

.tax-button {
    width: 200px;
}

.tax-button span {
    opacity: 0.5;
    font-size: 15px;
}
.qty{
    width: 100px;
}

.custom-label{
    font-size: 14px;
  }
  th{
    font-size: 14px;
  }

  a.disabled {
    pointer-events: none; /* Disable mouse events */
    color: #ccc; /* Change the color to indicate it's disabled */
}

// .tax-button svg {
//     align-items: start;
//     width: 16px; 
//     height: 16px; 
// }

// #paymentMethod option:first-child {
//     opacity: 0.2 !important;
//   }
//   ::ng-deep #paymentMethod option:first-child {
//     opacity: 0.5 !important;
//   }