@import "~ngx-bootstrap/datepicker/bs-datepicker.css";


* {
    font-family: sans-serif;
}

.header-content {
    margin-left: 50px;
    padding-top: 30px;
    font-weight: 200;
    font-family: sans-serif;
    text-transform: uppercase;
}

.header-value {
    letter-spacing: 3px;
    font-size: 15px;
    font-family: sans-serif;
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

label {
    font-size: 15px;
}

input,
textarea {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 15px !important;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #3292a6;
    outline-width: 0;
    font-weight: 400
}


.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #3292a6;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40px;
}

.btn-danger {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #cb2045;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    height: 40px;
}

.btn-success {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #2087cb;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40px;
}

.btn-primary:hover {
    background-color: #1f7681;
}

.btn-danger:hover {
    background-color: #b10228;
}

.btn-danger:hover {
    background-color: #03568e;
}

.btn-block {
    font-size: 15px !important;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
    outline: none;
}

.remove-button:hover {
    color: #fff !important;
    background-color: black !important;
    ;
}

a {
    color: black;
    text-decoration: none !important;
}

a:link {
    text-align: center;
}

a {
    cursor: pointer;
}

.serviceSearch {
    padding: 15px;
}

.serviceSearch {
    width: 150px;
}

.taxSearch {
    padding-top: 15px;
    width: 150px;
}

.taxHeader {
    width: 150px;
}

.tax-button {
    width: 200px;
}

.tax-button span {
    opacity: 0.5;
    font-size: 15px;
}

.qty {
    width: 100px;
}

.custom-label {
    font-size: 14px;
}


a.disabled {
    pointer-events: none;
    /* Disable mouse events */
    color: #ccc;
}

//summary table
table {
    font-size: 15px;
}

th {
    font-size: 14px;
}

.summary-table {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-table .table {
    border-collapse: collapse;
    width: 100%;
}

.summary-table .table th,
.summary-table .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}

.summary-table .table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.summary-table .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternate row background color */
}