.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.service-qty-chart {
    width: 400px;
    height: 400px; 
}

.service-revenue-chart {
    width: 400px;
    height: 400px; 
}